<h1>You have a busy day today</h1>

<!-- Displaying inputted tasks -->

  <h2>Below are your tasks:</h2>

    <ul>
      <% @tasks.each() do |task| %>

        <li><%= task.description() %></li>
      <% end %>
    </ul>

    <div class="well">
      <p>Enter Your Task And Git To Work!</p>
    </div>

<!-- Our Form -->
  <form action="/tasks" method="post">

    <div class="form-group">
      <label for="description">Task Description</label>
      <input id="description" name="description" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Enter today's task!</button>
  </form>
