<h1>You have a busy day today</h1>
<h2>Below are your tasks:</h2>

<form action="/tasks">

  <div class="form-group">
    <label for="description">Enter Your Task And Git To Work!</label>
    <input id="description" name="description" class="form-control" type="text">
  </br>
</div>

<button type="submit" class="btn btn-warning">Enter today's task!</button>
</form>
